__pycache__/

# Distribution / packaging
build/
downloads/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
cover/


# Django stuff:
*.log

# Environments
env/

selenium/
*.json
contacts.txt
temp/*